.display-3 {
	text-align: center;
	color: white !important;
}

#nextRide {
	font-style: italic;
}

.table {
	width: 100%;
}

.jumbotron {
	background-color: #009999;
	font-family: 'Varela', sans-serif;
}

.panel-heading {
	background-color: #d9d9d9 !important;
	font-family: 'Varela', sans-serif;
}

.section {
	display: inline-block;
}

.col-sm-3 {
	float: right;
}

td:nth-of-type(3) {
	text-align: center;
}

td:nth-of-type(4) {
	text-align: center;
}

td:nth-of-type(5) {
	text-align: center;
}

.ctr {
	text-align: center;
}